{% extends "base.html" %}
{% block title %}View Card{% endblock %}
{% block content %}
<div class="container" style="text-align: center;">
	<div class="btn-group">
		<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ active_book or "Select A Book"}}</button>
		<div class="dropdown-menu">
			{% for book in books %}
				<form method="POST" action="/preferences/" id="{{book}}">
					<input type="radio" name="book" value="{{book}}" checked="checked" style="display: none">
					<a class="dropdown-item" href="javascript:{}" onclick="document.getElementById('{{book}}').submit(); return false;">{{book}}</a>
				</form>
			{% endfor %}
		</div>
	</div>
	<button type="button" class="btn btn-primary" onclick="enter_edit_mode();">Edit Card</button>
</div>
<div class="container">
<br/>
<br/>
<br/>
<div class="card">
	<form method="POST" class="edit-card" action="./edit/">
	{% for attribute in attributes %}
		{% if attribute[1] not in hidden %}
				<div class="form-group row">
					<label onclick='reveal("{{ attribute[1] }}");'  for="{{ attribute[1] }}" class="col-sm-3 col-form-label">{{ attribute[1] }}</label>
					<div class="col-sm-9">
						<input type="text" readonly class="form-control-plaintext" id="{{ attribute[1] }}" name="{{ attribute[0] }}" value="{{ attribute[2] or "N/A" }}" {% if attribute[1] not in primaries %} style="display: none;"{% endif %}>
					</div>
				</div>

		{% endif %}
	{% endfor %}
	<input type="submit" value="Save" class="btn btn-success" style="margin: 12px; display: none;">
	</form>
</div>
<div class="container">
	<div style="text-align: center">
		<form method="POST" action="./vote" style="display: inline;">
			<input type="radio" name="confidence" value="good" checked="checked" style="display: none">
			<input type="submit" value="Good" class="btn btn-success" style="margin: 12px">
		</form>
		<form method="POST" action="./vote" style="display: inline;">
			<input type="radio" name="confidence" value="okay" checked="checked" style="display: none">
			<input type="submit" value="Okay" class="btn btn-warning" style="margin: 12px">
		</form>
		<form method="POST" action="./vote" style="display: inline;">
			<input type="radio" name="confidence" value="bad" checked="checked" style="display: none">
			<input type="submit" value="Bad" class="btn btn-danger" style="margin: 12px">
		</form>
	</div>
</div>

<script>
function reveal(element_id) {
	var element = document.getElementById(element_id);
	element.style.display = "inline";
}

function enter_edit_mode() {
	$(".edit-card input").each(
		function (index, node) {
			$(node).prop("readonly", false).css("display", "inline");
		}
	);
}
</script>
{% endblock %}